<div class= "row">

<font face="Comic sans MS" size="6">
<p class= "center">Unisciti alla community di Competitive World</p>

<br>
<p class= "center"> Crea tornei o unisciti ad una lobby pubblica</p>
 



</div>




</font><br />
