<header class="navbar-fixed">
	<nav class="#b71c1c red darken-4">
		<div class="container nav-wrapper">
		  <%= link_to "Competitive World", root_path, class: "brand-logo" %>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		</div>
	</nav>	
</header>